.nav-logo{
    font-family: "Vollkorn SC", serif;
    font-weight: 400;
    font-style: normal;
}
.nav-list{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
.footer-logo{
    font-family: "Vollkorn SC", serif;
    font-weight: 400;
    font-style: normal;
}
footer{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}
corpo{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

